.user-login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40em;
  width: 100%;
}

.user-loggedin-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  width: 100%;
  padding: 16px;
}

.user-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  height: 400px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(33,33,33,.2); 
}

.user-login-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.user-login-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  justify-content: space-between;
}

.user-loggedin-header {
  font-size: 36px;
  font-weight: 600;
}

.user-loggedin-movies-title {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  color: #2769be;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
}

.user-loggedin-table-poster {
  background-position: center;
  background-size: cover;
  background-image: url('../assets/default-movie-poster.png');
  height: 32px;
  width: 32px;
  text-indent: -10000px;
}

.user-loggedin-top-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}

.top-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20%;
}

.top-info-title {
  font-size: 24px;
  font-weight: 600;
}

.top-info-text {
  margin-top: -10px;
  font-size: 36px;
  font-weight: 600;
  color: #4CC9F0;
}